qwork-test-dataset/data/**/*.png filter=lfs diff=lfs merge=lfs -text
qwork-test-dataset/data/**/*.jpg filter=lfs diff=lfs merge=lfs -text
qwork-test-dataset/data/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
qwork-test-dataset/data/**/*.webp filter=lfs diff=lfs merge=lfs -text
qwork-test-dataset/data/**/*.zip filter=lfs diff=lfs merge=lfs -text
qwork-test-dataset/data/reference-runs/** -whitespace
